<div class="container">
  <div class="row">

    <h3><%= @user.nickname %>のお気に入り一覧</h3>

  <%= render 'layouts/index', gam: @games %>
  <% if @user == current_user %>
    <%= link_to 'マイページに戻る', user_path(current_user), class: "btn-block btn btn-outline-warning"%>
  <% end %>
  </div>
</div>