
お疲れ様です。当サイトはボードゲームが好きな人が情報を共有し、
語り合うことができる掲示板と、
掲示板を元に作った商品紹介ページを掲載しています。



<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= link_to '掲示板へ',  new_user_registration_path, class: "btn-block btn btn-outline-warning"%>

      テキスト

      <%= link_to '掲示板へ',  new_user_registration_path, class: "btn-block btn btn-outline-warning"%>
    </div>

    <div class="col-lg-6">
      <%= link_to 'ゲーム紹介ページへ', genres_games_path, class: "btn-block btn btn-outline-primary"%>
      テキスト
      <%= link_to 'ゲーム紹介ページへ', genres_games_path, class: "btn-block btn btn-outline-primary"%>
    </div>
  </div>
</div>