<%= form_with model: @game_gamecomment, local:true do |f| %>

<div>
  <%= render 'layouts/errors', obj: @gamecomment %>
</div>
    
    <%= f.text_area :comment %>
       

      <div>
        <%= f.submit "新規登録", class: "btn btn-info active" %>
      </div>
<% end %>