// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-color-top{
    margin-bottom: 20px;
    background-color :#e6f2ff;
    border: 2px #4da6ff solid;
}
.genre-1{
    border: 2px #ffff00 solid;
}
.genre-2{
    border: 2px #4da6ff solid;
}
.genre-3{
    border: 2px #cccccc solid;
}