<% if obj.errors.any? %>
  <div id="errors_explanation">
    <h2><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>